#!/usr/bin/make -f

export CYTHONEXEC=cython3
export PYTHON=/usr/bin/python3

%:
	dh $@ --with python3

override_dh_autoreconf:
	NOCONFIGURE=1 ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- PYTHON=/usr/bin/python3 --disable-schemas-compile

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3
